@tailwind base;
@tailwind components;
@tailwind utilities;

/* Terminus Font */
@import '/priv/static/fonts/fonts.css';

/* Scrollbar Stuff */
html {
  scrollbar-width: thin; /* Makes the scrollbar thinner */
  scrollbar-color: rgb(107, 33, 168) rgb(18, 18, 18); /* Thumb color and track color */
}

*::-webkit-scrollbar {
    width: 15px;
}

*::-webkit-scrollbar-track {
    background: rgb(18, 18, 18); /* Dark color */
    border-radius: 0;
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(107 33 168); /* Purple color */
    border-radius: 0;
    border: 3px solid rgb(18, 18, 18); /* Dark border */
}

/*
 *
 * CRT Effect
 *
*/

#app {
    overflow: hidden;
}

#Background {
    overflow: hidden;
    background-color: black;
    background-image: radial-gradient(
        hsl(292, 66%, 7%) 0%, hsl(292, 66%, 2.3%) 70%
    );
    height: 100vh;
    animation: Background 1s infinite;
}


#App-App {
    perspective: 500px;
    overflow: hidden;
}

#crt {
    transform-style: preserve-3d;
    transform: rotateY(-15deg);
    overflow-x: hidden;
    text-shadow: 0 0 5px hsl(292, 66%, 7%);
}

#bezel {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}

/* Scanlines */
#crt:before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: repeating-linear-gradient(transparent 0px 1px, hsl(154 0% 0%/.35) 3px 4px);
    background-size: 100% 8px;
    z-index: 2;
    pointer-events: none;
    overflow: hidden;
    animation: flicker 0.066666666s linear infinite;
}

/* low-resolution screen overlay interlacing */
@keyframes flicker {
  0% {background-position: 0px 0px}
  50% {background-position: 0px 0px}
  51% {background-position: 0px 2px}
  100% {background-position: 0px 2px}
}

/* Moving scanline */
.scanline {
    width: 100%;
    height: 100px;
    z-index: 8;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(255, 255, 255, 0.2) 10%,
        rgba(0, 0, 0, 0.1) 100%
    );
    opacity: 0.1;
    position: absolute;
    bottom: 100%;
    animation: scanline 10s linear infinite;
}

@keyframes scanline {
    0% {
        bottom: 100%;
    }
    80% {
        bottom: 100%;
    }
    100% {
        bottom: 0%;
    }
}
