@tailwind base;
@tailwind components;
@tailwind utilities;

/* input { */
/*     caret-color: transparent; /1* Hide the default caret *1/ */
/*     position: relative; */
/* } */

/* input::after { */
/*     content: ''; */
/*     position: absolute; */
/*     width: 10px; /1* Adjust the width to make the cursor wider *1/ */
/*     height: 1em; */
/*     background-color: Purple; /1* Change the color as needed *1/ */
/*     animation: blink 1s step-end infinite; */
/*     pointer-events: none; */
/* } */

/* @keyframes blink { */
/*     50% { */
/*         opacity: 0; */
/*     } */
/* } */

/* Terminus Font */
@import '/priv/static/fonts/fonts.css';

/* Scrollbar Stuff */
html {
  scrollbar-width: thin; /* Makes the scrollbar thinner */
  scrollbar-color: rgb(107, 33, 168) rgb(18, 18, 18); /* Thumb color and track color */
}

*::-webkit-scrollbar {
    width: 15px;
}

*::-webkit-scrollbar-track {
    background: rgb(18, 18, 18); /* Dark color */
    border-radius: 0;
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(107 33 168); /* Purple color */
    border-radius: 0;
    border: 3px solid rgb(18, 18, 18); /* Dark border */
}

